

<nav class="sidebar p-3">

    <ul class="navegations">
      <li class="p-5 profile">
        <img src="https://iupac.org/wp-content/uploads/2018/05/default-avatar.png" alt="imagen perfil" width="100%" class="rounded-circle">
      </li>
      <li class=" item-menu dashboar active ">
        <a href="/welcome" class="w-100"> dashboard</a>
      </li>
      <li class="item-menu comprar">
        <a href="/store" class="w-100" >Comprar</a>
      </li>
    </ul>

</nav>